.catalog {
  background-color: @background-grey-light;
}

.catalog__text {
  display: block;
  text-align: center;
}

.catalog__title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.catalog__sort-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.catalog__sort {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: @primary;
  background-color: transparent;
  border: none;
  appearance: none;
}
