.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog-list__item {
  padding: 14% 7% 7% 7%;
  list-style-type: none;
  background-color: @white;
}

.catalog-list__image {
  display: block;
  margin: 0 auto;
}

.catalog-list__title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.catalog-list__description {
  margin: 0;
}

.catalog-list__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.catalog-list__card-button {
  min-width: 140px;
  font-size: 14px;
  line-height: 20px;
  padding-left: 22px;
}
