.form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.form__fieldset {
  @media (min-width: @tablet-width) {
    &--price {
      width: 227px;
    }

    &--milk {
      width: 230px;
    }

    &--country {
      width: 197px;
    }
  }

  @media (min-width: @desktop-width) {
    &--milk {
      padding-bottom: 10px;
    }
  }
}

.form__legend {
  padding: 0 0 22px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    padding-bottom: 20px;
  }
}


.form__range {
  position: relative;
  margin-top: 10px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-left: 7px;
    margin-top: 7px;
  }

  @media (min-width: @desktop-width) {
    width: 318px;
    margin-left: 0;
    margin-bottom: 30px;
  }

  &--disabled {
    filter: saturate(0);
  }
}

.form__range-scale {
  position: relative;
  height: 2px;
  background-color: @grey-light;
  margin-bottom: 35px;
}

.form__range-bar {
  position: absolute;
  height: 4px;
  left: 0;
  right: 28px;
  background-color: @primary-lighter;
}

.form__range-toggle {
  box-sizing: border-box;
  position: absolute;

  width: 24px;
  height: 24px;

  background-color: @white;
  border: 2px solid @primary-lighter;
  border-radius: 50%;

  &--min {
    left: -1px;
    top: -9px;
  }

  &--max {
    right: -9px;
    top: -9px;
  }

  &:hover,
  &:focus {
    background-color: @secondary;
    outline: 2px solid @white;
    outline-offset: -4px;
  }

  &:active {
    background-color: @primary;
    outline: 2px solid @white;
    outline-offset: -4px;
  }
}

.form__range-inputs-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 2px;
    background-color: @grey;
  }
}

.form__range-input {
  width: 118px;
  padding: 7px 10px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid @primary-lighter;
  border-radius: 4px;
  text-align: center;
  color: @baseblack;
  appearance: textfield;

  @media (min-width: @tablet-width) {
    width: 92px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
  }

  &:hover,
  &:focus {
    border: 2px solid @primary-darker;
  }
}

.form__group {
  position: relative;
  margin: 0;
}

.form__radio-label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  padding-left: 34px;
  padding-bottom: 21px;

  @media (min-width: @tablet-width) {
    padding-bottom: 20px;
  }
}

.form__radio-label--disabled {
  color: @grey;
}

.form__radio-mark {
  position: absolute;
  box-sizing: border-box;
  top: 0;

  width: 24px;
  height: 24px;

  background-color: @white;
  border: 2px solid @grey;
  border-radius: 50%;
}

.form__radio-input:hover + .form__radio-mark {
  background-color: fade(@primary, 25%);
  border-color: @primary-lighter;
  outline: 2px solid @white;
  outline-offset: -4px;
}

.form__radio-input:checked + .form__radio-mark {
  background-color: @primary;
  border: none;
  outline: 2px solid @white;
  outline-offset: -4px;
}

.form__radio-input:disabled + .form__radio-mark {
  border-color: @grey-light;
  background-color: @white;
}

.form__checkbox-label {
  display: block;
  padding-left: 52px;
  padding-bottom: 21px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    padding-bottom: 20px;
  }
}

.form__checkbox-label--disabled {
  color: @grey;
}

.form__checkbox-mark {
  position: absolute;
  top: 0;
  box-sizing: border-box;

  width: 42px;
  height: 24px;

  border-radius: 12px;
  background-color: @grey;
  border: 2px solid @grey;

  &::before {
    content: "";
    position: absolute;
    top: 0;

    width: 20px;
    height: 20px;

    background-color: @white;
    border-radius: 50%;

    transition: transform 0.2s ease;
  }
}

.form__checkbox-input:hover + .form__checkbox-mark {
  background-color: fade(@primary, 25%);
  border-color: @primary-lighter;
}

.form__checkbox-input:checked + .form__checkbox-mark {
  background-color: @primary;
  border-color: @primary;

  &::before {
    transform: translateX(19px);
  }
}

.form__checkbox-input:disabled + .form__checkbox-mark {
  background-color: @grey-light;
  border-color: @grey-light;
}

.form__button-wrapper {
  padding: 12px 0 40px;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 370px;
    justify-content: space-between;

    margin: 0 auto;
    padding-right: 23px;
    padding-top: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 360px;
  }
}

.form__apply-button {
  min-width: 160px;
  margin: 0 auto 24px;

  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    min-width: 148px;
    margin: 0;

    font-size: 14px;
    line-height: 24px;
  }
}

.form__clear-button {
  min-width: 160px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 24px;
  background-color: @white;
  color: @primary;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    min-width: 139px;
  }

  @media (min-width: @desktop-width) {
    min-width: 150px;
  }

  &:hover {
    background-color: @primary-lighter;
    color: @white;
  }

  &:focus {
    background-color: @primary-lighter;
    color: @white;
  }

  &:active {
    background-color: @primary;
    color: @white;
  }

  &:disabled {
    background-color: @grey-light;
    color: @white;
  }
}
