.navigation__site-list {
  margin: 0;
  padding: 0;
}

.navigation__site-item {
  list-style-type: none;
}

.navigation__user-list {
  list-style-type: none;
}

.navigation__site-link {
  display: block;

  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
