.product__list {
  margin: 0;
  padding: 0;
}

.product-item {
  padding: 20px 20px 60px 20px;

  list-style-type: none;

  &--first {
    background-color: @background-beige;
  }

  &--second {
    background-color: @background-lavender;
  }

  &--third {
    background-color: @background-grey;
  }
}

.product-item__image {
  display: block;
  margin: 0 auto;
}

.product-item__new {
  display: block;
  text-align: center;
}

.product-item__title {
  margin: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
}

.product-item__description {
  margin: 0;

  text-align: center;
}

.product-item__old-price {
  color: @primary;
  font-size: 16px;
  line-height: 32px;
  text-decoration: line-through;
}

.product-item__new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.product__pagination-list {
  margin: 0;
  padding: 0;
}

.product__pagination-item {
  list-style-type: none;

  background-color: @secondary;
}
