.product {
  position: relative;
}

.product__list {
  margin: 0;
  padding: 0;
}

.product__button-prev {
  position: absolute;
  padding: 0;
  height: 100%;
  width: 20px;
  top: 0;
  left: 0;

  background-image: url("../../img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  rotate: 180deg;

  @media (min-width: @tablet-width) {
    width: 80px;
    background-position: 50% 62%;
  }
}

.product__button-next {
  position: absolute;
  padding: 0;
  height: 100%;
  width: 20px;
  top: 0;
  right: 0;

  background-image: url("../../img/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: @tablet-width) {
    width: 80px;
    background-position: 50% 38%;
  }
}

.product__pagination-list {
  position: absolute;
  display: none;

  bottom: 70px;
  left: 50%;
  transform: translate(-56%);
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    column-gap: 8px;
  }
}

.product__pagination-item {
  list-style-type: none;
}

.product__pagination-button {
  @media (min-width: @desktop-width) {
    height: 4px;
    width: 62px;

    background-color: @white;

    &--current {
      background-color: @primary;
    }
  }
}
